@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;
  --primary: 330 81% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --accent: 343 82% 60%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 210 40% 98%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 330 81% 60%;
  --radius: 1rem;
}

.dark {
  --background: 222.2 24% 8%;
  --foreground: 210 40% 98%;
  --card: 222.2 24% 10%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 24% 10%;
  --popover-foreground: 210 40% 98%;
  --primary: 330 81% 65%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 200 70% 60%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 72% 50%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 330 81% 65%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}

img {
  @apply block max-w-full;
}